@import url(global.css);


#hero{
    width: 100%;
    height: 90rem;
}
.hero{
    position: relative;
    width: 100%;
    height: 60rem;
    & #hero-background{
        position: absolute;
        width: 100%;
        height: 59.25rem;
        object-fit: cover;
        z-index: -1;
        animation: appear 2s ease forwards;
    }
}

nav{
    position: relative;
    padding-top: 3.5rem;
    padding-inline: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    & .nav-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.625rem;
        height: 2.5rem;
        background-color: var(--pink-dark);
        border-radius: 0.5rem;
        transition: background-color 500ms;
        & a{
            color: var(--text-title);
        }
    }
    & .nav-btn:hover{
        background-color: var(--pink-base);
        cursor: pointer;
    }
}

.title{
    width: 41rem;
    height: 12.5rem;
    text-align: center;
    margin-top: 10.25rem;
    margin-inline: auto;
    animation: appear 5s ease forwards;
    & h1{
        font-family: 'Raleway';
        font-size: 48px;
        font-weight: bold;
        color: var(--text-title);
    }
    & p{
        color: var(--text-body);
        font-size: 20px;
        line-height: 140%;

    }
}

.hero-bottom{
    width: 75rem;
    height: 25rem;
    margin-top: 6rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: appear ease forwards;
    animation-timeline: view();
    animation-range: 10px 1000px;
    & p{
        font-size: 32px;
        line-height: 200%;
        font-weight: medium;
    }
    & span{
        color: var(--blue-light);
    }
    & img{
        width: 5rem;
        height: 5rem;
        animation: scale ease forwards;
        animation-timeline: view();
        animation-range: 10px 350px;
    }
    & .hero-bottom-img{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

#book{
    width: 100%;
    height: 100rem;
    padding-top: 14.5rem;
    & p{
        text-align: center;
    }
}
.kit{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    & img{
        width: 10%;
    }
}
.book{
    margin-inline: auto;
    margin-top: 5.5rem;
    width: 70%;
    height: 57.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    & #book-img{
        width: 40%;
    }
    .capa-dura, .arrow-1, .arrow-2, .arrow-3, .marca-paginas, .broche{
        position: absolute;
        left: 600px;
        top: 2500px;
        z-index: -1;
        transition: all 1.5s ease;
    }
    
    .pin{
        position: absolute;
        left: 600px;
        top: 2500px;
        z-index: -1;
        transition: all 1.5s ease;
        & img{
            width: 40%;
        }
    }
    .bookmark-yellow{
        position: absolute;
        left: 600px;
        top: 2150px;
        z-index: -1;
        transition: all 1.5s ease;
        & img{
            width: 40%;
        }
    }
    .bookmark-purple{
        position: absolute;
        left: 600px;
        top: 2150px;
        z-index: -2;
        transition: all 1.5s ease;
        & img{
            width: 40%;
        }
    }
}
.book:hover{
    & .capa-dura{
        transform: translateY(-450px) translateX(-280px);
    }
    & .arrow-1{
        transform: translateY(-400px) translateX(-200px);
    }
    & .broche{
        transform: translateY(-80px) translateX(-240px);
    }
    & .arrow-2{
        transform: translateY(-30px) translateX(-220px);
    }
    & .pin{
        transform: translateY(20px) translateX(-155px) rotate(0deg);
    }
    & .marca-paginas{
        transform: translateY(250px) translateX(290px);
    }
    & .arrow-3{
        transform: translateY(100px) translateX(370px);
    }
    & .bookmark-yellow{
        transform: translateY(-90px) translateX(310px) rotate(10deg);
    }
    & .bookmark-purple{
        transform: translateY(50px) translateX(385px) rotate(20deg);
    }
}

#pricing{
    width: 100%;
    height: 77rem;
}
.pricing-header{
    margin-top: 12.125rem;
    margin-inline: auto;
    width: fit-content;
    text-align: center;
    & h2{
        font-size: 32px;
        font-weight: bold;
        color: var(--text-title);
    }
}

.pricing{
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.pricing:hover{
    & .anual{
        transform: translateX(0px) translateY(50px) rotate(10deg);
    }
    & .mensal{
        transform: translateX(0px) translateY(50px) rotate(-10deg);
    }
    & .vector1{
        transform: translateX(-310px) translateY(80px);
    }
    & .vector2{
        transform: translateX(-310px) translateY(90px);
    }
    & .vector3{
        transform: translateX(250px) translateY(60px);
    }
    & .vector4{
        transform: translateX(250px) translateY(65px);
    }
}
.bunny-img{
    position: absolute;
    left: 650px;
    top: 3627px;
}
.vector1{
    transition: all 1s ease;
    position: absolute;
    left: 530px;
    top: 3626px;
    & img{
        width: 80%;
    }
}
.vector2{
    transition: all 1s ease;
    position: absolute;
    left: 530px;
    top: 3670px;
    & img{
        width: 50%;
    }
}
.vector3{
    transition: all 1s ease;
    position: absolute;
    left: 910px;
    top: 4080px;
    & img{
        width: 80%;
    }
}
.vector4{
    transition: all 1s ease;
    position: absolute;
    left: 890px;
    top: 4110px;
    & img{
        width: 50%;
    }
}
.card{
    width: 18rem;
    height: 26rem;
    border-radius: 1.5rem;
}
.card:hover{
    background-color: var(--shape-hover);
}
.semestral{
    z-index: 2;
    margin-top: 5rem;
    background-color: var(--shape-hover);
    box-sizing: border-box;
    & .semestral-header{
        box-sizing: border-box;
        width: 100%;
        padding-top: 1rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & p{
            font-size: 16px;
            font-weight: bold;
            color: var(--pink-light);
        }
    }
    & .price{
        width: 100%;
        height: 6rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        & .por-mes{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 40px;
            font-weight: bold;
            color: var(--text-title);
            & span{
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
        & .por-ano{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 2rem;
            font-size: 14px;
            color: var(--text-label);
        }
    }
    & .popular-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5.5rem;
        height: 1.8rem;
        background-color: var(--shape-stroke);
        border-radius: 999px;
        font-size: 10px;
    }
    & .offers{
        margin-top: 2rem;
        margin-inline: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .offer{
            width: 100%;
            height: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            color: var(--text-body);
            & img{
                width: 10%;
            }
        }
    }
    & .assinar-btn{
        margin-top: 1rem;
        margin-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        height: 2.5rem;
        border-radius: .5rem;
        background-color: var(--pink-dark);
        font-weight: bold;
    }
    & .assinar-btn:hover{
        background-color: var(--pink-light);
        cursor: pointer;
    }
}
.mensal{
    transition: all 1s ease;
    transform: translateX(305px);
    margin-top: 5rem;
    background-color: var(--shape-base);
    border: 2px solid var(--shape-hover);
    box-sizing: border-box;
    & .mensal-header{
        box-sizing: border-box;
        width: 100%;
        padding-top: 1rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & p{
            font-size: 16px;
            font-weight: bold;
            color: var(--blue-light);
        }
    }
    & .price{
        width: 100%;
        height: 6rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        & .por-mes{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 40px;
            font-weight: bold;
            color: var(--text-title);
            & span{
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
        & .por-ano{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 2rem;
            font-size: 14px;
            color: var(--text-label);
        }
    }
    & .offers{
        margin-top: 4rem;
        margin-inline: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        & .offer{
            width: 100%;
            height: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            color: var(--text-body);
            & img{
                width: 10%;
            }
        }
    }
    & .assinar-btn{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        height: 2.5rem;
        border-radius: .5rem;
        background-color: var(--blue-dark);
        font-weight: bold;
    }
    & .assinar-btn:hover{
        background-color: var(--blue-light);
        cursor: pointer;
    }
}
.anual{
    transition: all 1s ease;
    transform: translateX(-305px);
    margin-top: 5rem;
    background-color: var(--shape-base);
    border: 2px solid var(--shape-hover);
    box-sizing: border-box;
    & .anual-header{
        box-sizing: border-box;
        width: 100%;
        padding-top: 1rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & p{
            font-size: 16px;
            font-weight: bold;
            color: var(--blue-light);
        }
    }
    & .price{
        width: 100%;
        height: 6rem;
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        & .por-mes{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            font-size: 40px;
            font-weight: bold;
            color: var(--text-title);
            & span{
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
        & .por-ano{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 2rem;
            font-size: 14px;
            color: var(--text-label);
        }
    }
    & .offers{
        margin-inline: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & .offer{
            width: 100%;
            height: 2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 12px;
            color: var(--text-body);
            & img{
                width: 10%;
            }
        }
    }
    & .assinar-btn{
        margin-top: 1rem;
        margin-inline: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14rem;
        height: 2.5rem;
        border-radius: .5rem;
        background-color: var(--blue-dark);
        font-weight: bold;
    }
    & .assinar-btn:hover{
        background-color: var(--blue-light);
        cursor: pointer;
    }
}
#footer{
    width: 100%;
    height: 27rem;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 27rem;
    & #footer-bg{
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
    }
}
.divider{
    width: 100%;
    height: 1px;
    background-color: var(--shape-stroke);
    margin-block: 0.75rem;
}
.brand{
    padding-top: 2rem;
    padding-left: 10rem;
    & .socials{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        & img{
            width: 1.5rem;
        }
        & a{
            transition: all 500ms ease;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }
        & a:hover{
            background-color: var(--shape-stroke);
        }
    }
}
.links{
    padding-top: 2rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    & .content, .help{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        & h3{
            font-size: 1rem;
            font-weight: bold;
        }
        & a{
            color: var(--blue-light);
            transition: all 500ms ease;
        }
        & a:hover{
            color: var(--text-title);
        }
    }
}
.mobile-only{
    display: none;
}


@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes scale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes slide {
    0%, 20%{
        transform: translateX(0);
    }
    20%, 40%{
        transform: translateX(305px);
    }
    40%, 60%{
        transform: translateX(0);
    }
    60%, 80%{
        transform: translateX(-305px);
    }
    80%, 100%{
        transform: translate(0);
    }
    
}

@media screen and (max-width: 768px){
    .mobile-only{
        display: flex;
    }
    .desktop-only{
        display: none;
    }
    #hero{
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        height: 47rem;
    }
    .hero{
        box-sizing: border-box;
        width: 100%;
        height: 29rem;
        & #hero-background{
            height: 29rem;
        }
    }
    nav{
        box-sizing: border-box;
        padding-inline: 20px;
        padding-top: 20px;
    }
    .title{
        width: 95%;
        margin-top: 3rem;
        & h1{
            font-size: 26px;
        }
        & p{
            font-size: 12px;
        }
    }
    .hero-bottom{
        width: 100%;
        height: 15.5rem;
        margin-top: 2rem;
        animation: none;
        & p{
            font-size: 1rem;
        }
        & img{
            width: 2.5rem;
            height: 2.5rem;
            animation: none;
        }
        & span{
            color: var(--text-body);
        }
    }
    #book{
        overflow: hidden;
        height: 40rem;
        padding-top: 100px;
    }
    .book{
        margin-top: 4rem;
        height: 320px;
        & #book-img{
            width: 70%;
        }
        .capa-dura{
            font-size: 10px;
            left: 15px;
            top: 1015px;
        }
        .arrow-1{
            & img{
                width: 40%;
            }
            left: 45px;
            top: 1045px;
        }
        .arrow-2{
            & img{
                width: 40%;
            }
            left: 40px;
            top: 1200px;
        }
        .arrow-3{
            & img{
                width: 45%;
            }
            left: 300px;
            top: 1290px;
        }
        .marca-paginas{
            font-size: 10px;
            left: 240px;
            top: 1325px;
        }
        .broche{
            font-size: 10px;
            left: 25px;
            top: 1170px;
        }
        .pin{
            & img{
                width: 20%;
            }
            left: 65px;
            top: 1220px;
            transform: rotate(-10deg);
        }
        .bookmark-yellow{
            & img{
                width: 60%;
            }
            transform: rotate(10deg);
            left: 250px;
            top: 1025px;
        }
        .bookmark-purple{
            & img{
                width: 70%;
            }
            transform: rotate(20deg);
            left: 280px;
            top: 1100px;
        }
    }
    .book:hover{
        & .capa-dura{
            transform: translateY(0) translateX(0);
        }
        & .arrow-1{
            transform: translateY(0) translateX(0);
        }
        & .broche{
            transform: translateY(0) translateX(0);
        }
        & .arrow-2{
            transform: translateY(0) translateX(0);
        }
        & .pin{
            transform: translateY(0) translateX(0) rotate(-10deg);
        }
        & .marca-paginas{
            transform: translateY(0) translateX(0);
        }
        & .arrow-3{
            transform: translateY(0) translateX(0);
        }
        & .bookmark-yellow{
            transform: translateY(0) translateX(0) rotate(10deg);
        }
        & .bookmark-purple{
            transform: translateY(0) translateX(0) rotate(20deg); 
        }
    }
    #footer{
        height: 25rem;
    }
    .footer{
        overflow: hidden;
        height: 25rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & #footer-bg{
            height: 25rem;
        }
        & #footer-logo{
            margin-inline: auto;
            width: 65%;
        }
    }
    .brand{
        width: 80%;
        padding-top: 7.5rem;
        padding-inline: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .links{
        padding-top: 0;
        padding-inline: 0;
        & a{
            font-size: 14px;
        }
        & .content, .help{
            margin-bottom: 5.5rem;
        }
    }
    #pricing{
        overflow: hidden;
        height: 50rem;
    }
    .pricing{
        overflow: hidden;
    }
    .card{
        animation: slide 15s ease forwards infinite;
    }
    .pricing:hover{
        & .mensal{
            transform:  translateY(0) rotate(0);
        }
        & .anual{
            transform: translateY(0) rotate(0);
        }
    }
    .pricing-header{
        margin-top: 2rem;
    }
}


